<div class="container mt-3 jumbotron alert-success">
    <form action="/logout" method="post">
        {{#if avatarUsuario}}
            <span><img src="./avatars/{{ avatarUsuario }}" style="clip-path: circle();" alt="{{ nombreUsuario }}" width="80" height="80"></span>
        {{/if}}
        <h3 style="display: inline-block; margin: 0;" class="text-green">Bienvenido <b>{{{ emailUsuario }}}</b></h3>
        <input type="submit" value="Logout" class="text-green btn btn-warning" style="margin-bottom: 1%; float: right;">
        <br><br>
        <ul>
            <li>Nombre: <b>{{{ nombreUsuario }}}</b></li>
            <li>Dirección: <b>{{{ direccionUsuario }}}</b></li>
            <li>Edad: <b>{{{ edadUsuario }}}</b></li>
            <li>Teléfono: <b>{{{ nroTelefonoUsario }}}</b></li>
        </ul>
    </form>
</div>
<div class="container mt-3 jumbotron">
    <h3 class="text-primary">Productos cargados</h3>
    <div id="divProductos"></div>
</div>